/* global */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* header */
header {
  position: relative;
  margin: 0 0 -12rem;
  z-index: 1;
  overflow: hidden;
  border-top: 3px solid #ff1168;
}
.header-inner {
  display: flex;
  margin: auto;
  padding: 1rem;
  max-width: 840px;
  justify-content: center;
}
.logo-link {
  display: inline-block;
  margin: 1rem;
}

/* header angle */
header:before,
header:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
  background: black;
}
header:before {
  transform: skew(0deg,6deg) translateX(-49.9%);
}
header:after {
  transform: skew(0deg,-6deg) translateX(50%);
}

/* layout */
.content {
  padding: 12rem 0 0;
  background: #ececec;
}
.container {
  margin: auto;
  max-width: 840px;
}
.row {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.primary {
  order: 1;
  padding: 1rem 0 0;
}
.secondary {
  order: 0;
  padding: 0 0 1rem;
}

/* content */
.pc-specs {
  margin: 0 0 2rem;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.05);
}
.pc-component {
  display: flex;
  flex-direction: row;
  margin: 0 0 1px;
  background: white;
}
.label {
  flex-basis: 35%;
  padding: 1rem;
  color: #b3b3b3;
  box-sizing: border-box;
}
.value {
  flex-basis: 65%;
  padding: 1rem;
  box-sizing: border-box;
}
.pc-photo {
  position: sticky;
  top: 1rem;
  border-radius: 7px;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.05);
}

/* typography */
.heading {
  display: block;
  margin: 0 0 1rem;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
}

/* footer */
footer {
  border-top: 1px solid #e6e6e6;
}
.footer-inner {
  display: flex;
  margin: auto;
  padding: 1rem;
  max-width: 840px;
  justify-content: center;
}
.social-link {
  display: inline-block;
  margin: 1rem;
}

/* media queries */
@media (min-width: 576px) {
  .row {
    flex-direction: row;
  }
  .primary {
    flex-basis: 66.6%;
    padding: 0 0 0 0.5rem;
  }
  .secondary {
    flex-basis: 33.3%;
    padding: 0 0.5rem 0 0;
  }
  .pc-photo {
    top: 1rem;
  }
}

@media (min-width: 768px) {
  .row {
    padding: 2rem;
  }
  .primary {
    padding: 0 0 0 1rem;
  }
  .secondary {
    padding: 0 1rem 0 0;
  }
  .pc-photo {
    top: 2rem;
  }
}
