/* global */
body {
  font-size: 100%;
  background: black;
}
img {
  max-width: 100%;
  height: auto;
}

/* layout */
.page {
  display: flex;
  justify-content: center;
}
.container {
  padding: 1rem;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.col {
  padding: 1rem;
}

/* media queries */
@media (min-width: 768px) {
  .page {
    align-items: center;
    height: 100vh;
  }
}
